header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 0px;
}

#right {
    flex-basis: 67%
}

aside {
    flex-basis: 33%;
}

.column {
    border: 4px dashed red;
    padding: 2em;
    margin: 2em;
}

#special-para {
    clear: both;
}

img {
    float: right;
    width: 200px;
}

#final-para {
    position: fixed;
    bottom: 5px;
}