html {
    background-image: url('graybg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(41, 40, 40);
    font-family: sans-serif;
    color: white;
    height: 50vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

main {
    
}

#me {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    border: 10px solid black;
    border-width: 1px;
    border-color: black;
    float: right;
}

#csimg img {
    width: 50px;
    height: 60px;
}